extends layout

block chat
  .row.text-center
    .container
      .span5#join
        label Choose a nickname
        .form-inline
          input.field(type="text")
          input(type="button", value="join!", class="send")
