!!!
html(lang="en")
  head
    title= "Chatty"
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/chatty.css")
    script(src='/socket.io/socket.io.js')
  body
    block chat
    script(src="/js/chatty.js")
